<div class="modal_top">
  <div class="modal_img">${fImg.outerHTML}</div>
  <div class="text_box">
    <div class="name_box">${fName.outerHTML}</div>
    <div class="comment_box">${fcomment.outerHTML}</div>
  </div>
</div>
<div class="recipe_con">
  <p>Recipe</p>
  ${fRecipe.outerHTML}
</div>
