<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>추가하기</title>
    <link rel="icon" href="/public/img/logo.png" />
    <link rel="stylesheet" href="/public/css/write.css" />
  </head>
  <body>
    <header class="hd mw1">
      <div class="title_box">
        <div class="fork_img">
          <img src="/public/img/fork.png" alt="포크" />
        </div>
        <a href="/" class="title_detail">
          <span>Today's MENU</span>
          <span>in hyun_sikdang</span>
        </a>
        <div class="spoon_knife_img">
          <img src="/public/img/spoon_knife.png" alt="수저" />
        </div>
      </div>
    </header>

    <form action="/add" method="post">
      <section class="add_con_bg mw1">
        <div class="clip2_img">
          <img src="/public/img/clip2.png" alt="클립2" />
        </div>

        <div class="add_con">
          <div class="add_detail">
            <label class="menu_add"
              ><span>메뉴명</span><span>:</span>
              <input
                type="text"
                name="menu"
                placeholder="메뉴명을 입력해주세요"
            /></label>
            <label class="category_add"
              ><span>카테고리</span><span>:</span>
              <input
                type="text"
                name="category"
                placeholder="한식, 양식, 일식, 중식, 기타"
            /></label>
            <label class="photo_add"
              ><span>사진 URL</span><span>:</span>
              <input
                type="text"
                name="photoUrl"
                placeholder="이미지가 없다면 빈칸으로 작성해주세요."
            /></label>
            <label class="coment_add"
              ><span>코멘트</span><span>:</span>
              <input
                type="text"
                name="comment"
                placeholder="음식에 대한 간단한 코멘트를 작성해주세요."
            /></label>
            <label class="recipe_add"
              ><span>레시피</span><span>:</span>
              <textarea name="recipe" cols="75" rows="5"></textarea>
            </label>
          </div>
        </div>
      </section>
      <div class="add_button_box mw1">
        <input class="add_button" type="submit" value="추가하기" />
      </div>
    </form>
    <div class="bottom_img">
      <img src="/public/img/bottom_img.png" alt="하단이미지" />
    </div>

    <script>
      let photoUrl = document.querySelector(".photo_add input");
      // console.log(photoUrl);
    </script>
  </body>
</html>
