<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>추가하기</title>
    <link rel="icon" href="/public/img/logo.png" />
    <link rel="stylesheet" href="/public/css/write.css" />
  </head>
  <body>
    <header class="hd mw1">
      <div class="title_box">
        <div class="fork_img">
          <img src="/public/img/fork.png" alt="포크" />
        </div>
        <a href="/" class="title_detail">
          <span>Today's MENU</span>
          <span>in hyun_sikdang</span>
        </a>
        <div class="spoon_knife_img">
          <img src="/public/img/spoon_knife.png" alt="수저" />
        </div>
      </div>
    </header>

    <form action="/add" method="post">
      <section class="add_con_bg mw1">
        <div class="clip2_img">
          <img src="/public/img/clip2.png" alt="클립2" />
        </div>

        <div class="add_con">
          <div class="add_detail">
            <label class="menu_add"
              ><span>메뉴명</span><span>:</span>
              <input
                type="text"
                name="menu"
                placeholder="메뉴명을 입력해주세요"
            /></label>
            <label class="category_add"
              ><span>카테고리</span><span>:</span>
              <select name="category" class="cate_select">
                <option value="none">=선택=</option>
                <option value="한식">한식</option>
                <option value="양식">양식</option>
                <option value="일식">일식</option>
                <option value="중식">중식</option>
                <option value="기타">기타</option>
              </select>
              <span class="select_error">카테고리를 선택해주세요.</span>
            </label>
            <label class="photo_add"
              ><span>사진 URL</span><span>:</span>
              <input
                type="text"
                name="photoUrl"
                placeholder="이미지가 없다면 빈칸으로 작성해주세요."
            /></label>
            <label class="coment_add"
              ><span>코멘트</span><span>:</span>
              <input
                type="text"
                name="comment"
                placeholder="음식에 대한 간단한 코멘트를 작성해주세요."
            /></label>
            <div class="recipe_add">
              <div class="recipe_text"><span>레시피</span><span>:</span></div>
              <div class="recipe_add_con">
                <div class="recipe_add_box">
                  <input
                    type="text"
                    name="steps"
                    placeholder="step1"
                    id="recipe_step1"
                  />
                  <button id="step_add_btn">Step 추가</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="add_button_box mw1">
        <input class="add_button" type="submit" value="추가하기" />
      </div>
    </form>
    <div class="bottom_img">
      <img src="/public/img/bottom_img.png" alt="하단이미지" />
    </div>

    <script>
      const $select = document.querySelector(".cate_select");
      const $selectError = document.querySelector(".select_error");
      const $addButton = document.querySelector(".add_button");

      $addButton.addEventListener("click", (e) => {
        if ($select.value === "none") {
          e.preventDefault(); // submit 막기
          alert("카테고리를 선택해주세요."); // 경고창 띄우기
          $selectError.classList.add("on");
        }
      });

      // step add btn
      const $stepAddBtn = document.querySelector("#step_add_btn");
      const $recipeAddCon = document.querySelector(".recipe_add_con");

      $stepAddBtn.addEventListener("click", (e) => {
        e.preventDefault(); // submit 막기

        // 새로운 recipe_add_box 생성
        const $newRecipeAddBox = document.createElement("div");
        $newRecipeAddBox.classList.add("recipe_add_box");

        // 새로운 recipe_add_box를 recipe_add_con에 추가
        $recipeAddCon.appendChild($newRecipeAddBox);

        // 새로운 input 생성
        let $stepsNum = document.querySelectorAll(".recipe_add_box").length;
        const $newInput = document.createElement("input");
        $newInput.type = "text";
        $newInput.name = "steps";
        $newInput.placeholder = `step${$stepsNum}`; // step 카운트 증가
        $newInput.id = `#recipe_step${$stepsNum + 1}`; // step에 대한 id 설정

        // 새로운 recipe_add_box 안에 input 추가
        $newRecipeAddBox.appendChild($newInput);

        // 이전에 추가된 recipe_add_box들 중 가장 마지막에 추가된 요소 선택
        const $lastRecipeBox = $newRecipeAddBox.previousElementSibling;

        // 이전에 추가된 recipe_add_box의 가장 마지막 자식 요소 (step 추가 버튼) 선택
        const $lastStepAddBtn = $lastRecipeBox.lastElementChild;

        // 이전 recipe_add_box의 마지막 자식 요소 (step 추가 버튼) 다음으로
        // 새로 추가한 recipe_add_box 안에 input 요소 다음으로 step 추가 버튼 이동
        $newRecipeAddBox.insertBefore(
          $lastStepAddBtn,
          $newInput.nextElementSibling
        );
      });
    </script>
  </body>
</html>
