@charset 'utf-8';

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@font-face {
  font-family: "KimjungchulMyungjo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --mw1: 1150px;
  --mw2: 1550px;
  --mw3: 1750px;
  --c_point1: #faecdb;
  --c_point2: #134a3c;
  --c_point3: #3fa78d;
  --fs1: 16px;
  --fs2: 20px;
  --fs3: 24px;
  --fs4: 32px;
  --fs5: 64px;
  word-break: keep-all;
  list-style: none;
  font-family: "GangwonEdu_OTFBoldA";
  /*  */
  --bg: #000000;
  --text: #000000;
  --light-pink: #ffd5a1;
  --pink: #ffc379;
  --dark-pink: #e8a24d;
  --pink-border: #383123;
  --pink-shadow: #ad7a4a;
}

a {
  text-decoration: none;
  color: inherit;
}

.mw1,
.mw2,
.mw3 {
  width: calc(100% - 4rem);
  margin: auto;
}
.mw1 {
  max-width: var(--mw1);
}
.mw2 {
  max-width: var(--mw2);
}
.mw3 {
  max-width: var(--mw3);
}

body {
  background-color: #ad7a4a;
  position: relative;
  padding-top: 60px;
  overflow: auto;
}
body.on {
  overflow: hidden;
}
.paper_bg {
  background-color: #faecdb;
  /* margin-top: 60px; */
  position: relative;
}
.clip1_img {
  width: 140px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}
.clip1_img img {
  width: 100%;
}

/* ////////// header 영역 ////////// */
.hd {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}
.logo_img {
  width: 150px;
}
.logo_img img {
  width: 100%;
}
.title_box {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}
.fork_img {
  width: 20px;
}
.fork_img img {
  width: 100%;
}
.title_detail {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title_detail span {
  color: var(--c_point2);
  font-family: "Shrikhand", cursive;
  transition: 0.3s;
}
.title_detail span:nth-of-type(1) {
  font-size: var(--fs5);
}
.title_detail span:nth-of-type(2) {
  font-size: var(--fs4);
}
.spoon_knife_img {
  width: 45px;
}
.spoon_knife_img img {
  width: 100%;
}
.title_box:hover .title_detail span {
  color: var(--c_point3);
}
.title_box:hover .fork_img,
.title_box:hover .spoon_knife_img {
  position: relative;
  animation: bounce 0.3s ease infinite alternate;
}
@keyframes bounce {
  100% {
    top: -3px;
  }
}
.icons {
  width: 150px;
  display: flex;
  align-items: center;
}
.icons li {
  background-color: var(--c_point2);
  color: var(--c_point1);
  margin: 0 0.25rem;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.icons li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.naver_icon a {
  font-family: "KimjungchulMyungjo-Bold";
}
.dice_icon:hover,
.instagram_icon:hover,
.naver_icon:hover {
  background-color: var(--c_point3);
}

/* ////////// list_sec 영역 ////////// */
.list_sec {
  margin-top: 150px;
  /* border: 1px solid red; */
}
.category_con {
  width: 100%;
  height: 80px;
  padding: 20px 80px;
  background-color: var(--c_point2);
  display: flex;
  justify-content: space-between;
}
.ct_btn {
  padding: 0.25rem 1.5rem 0;
  font-size: var(--fs3);
  color: var(--c_point1);
  border: 1px solid var(--c_point1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.ct_btn.on {
  color: var(--c_point2);
  background-color: var(--c_point1);
}
.ct_btn:hover {
  background-color: var(--c_point3);
  color: var(--c_point1);
}
.ct_btn span {
  margin-top: 0.5rem;
}
.list_detail_con {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* gap: 1.5rem; */
  gap: 50px;
  padding: 50px 0;
}
.food_img {
  border: 1px solid var(--c_point2);
  background-color: #f9f9f9;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  display: none;
}
.food_img.on {
  display: block;
}
.food_img img {
  width: 100%;
  transition: 0.3s;
}
.back {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.food_img:hover img {
  scale: 1.1;
}
.food_img:hover .back {
  opacity: 1;
}

.food_img .menu_name {
  color: white;
}
.food_img .category {
  display: none;
}
.food_img .comment {
  display: none;
}
.food_img .recipe {
  display: none;
}
.food_img .delete {
  display: none;
}

.add_button {
  margin: 60px auto;
  display: flex;
  justify-content: center;
}
.add_button a {
  width: 550px;
  font-size: var(--fs4);
  background-color: var(--c_point2);
  color: var(--c_point1);
  text-align: center;
  padding: 1rem 0 0.75rem;
  transition: 0.3s;
}
.add_button a:hover {
  background-color: var(--c_point3);
}

/* ////////// bottom_img 영역 ////////// */
.bottom_img {
  width: 90%;
  margin: auto;
}
.bottom_img img {
  width: 100%;
}

/* ////////// detail_modal 영역 ////////// */
.detail_modal {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.detail_modal.on {
  display: flex;
}
.detail_modal_box {
  background-color: #f9f9f9;
  max-width: 800px;
  padding: 80px;
  max-height: 90%;
  overflow: auto;
}

.modal_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  /* border: 1px solid blue; */
}
.modal_img {
  width: 50%;
  margin-right: 2rem;
  background-color: #f9f9f9;
  /* border: 1px solid red; */
}
.modal_img img {
  width: 100%;
}
.text_box {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* border: 1px solid blue; */
}
.name_box {
  margin-bottom: 0.5rem;
}
.name_box span {
  display: inline-block;
  font-size: var(--fs3);
  font-weight: bold;
}
.comment_box {
  /* border: 1px solid forestgreen; */
  width: 80%;
  color: #333;
}
.recipe_con {
  margin-bottom: 1.5rem;
}
.recipe_con p {
  font-size: var(--fs2);
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.recipe_con .recipe {
  display: inline-block;
}
.button_con {
  display: flex;
  align-items: center;
  justify-content: start;
}
.delete_btn .delete,
.edit_button {
  width: 120px;
  height: 35px;
  background-color: #d9d9d9;
  color: #000000;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: var(--fs2);
  border: none;
  margin-right: 0.5rem;
  padding-top: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.detail_close {
  width: 50px;
  height: 35px;
  background-color: #d9d9d9;
  color: #000000;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: var(--fs2);
  border: none;
  margin-right: 0.5rem;
  padding-top: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.delete_btn .delete:hover,
.edit_button:hover,
.detail_close:hover {
  background-color: #aaaaaa;
}

/* ////////// random_modal 영역 ////////// */
.random_modal {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.random_modal.on {
  display: flex;
}

.random_modal_box {
  background-color: #f9f9f9;
  max-width: 800px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.random_close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: #d9d9d9;
  color: #000000;
  font-family: "GangwonEdu_OTFBoldA";
  border: none;
  transition: 0.3s;
  width: 60px;
  height: 30px;
  font-size: var(--fs2);
  padding-top: 0.25rem;
}
.random_close:hover {
  background-color: #aaaaaa;
}
.random_img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid var(--c_point2);
  background-color: #f4f0ea;
}
.random_img img {
  width: 90%;
}
.random_name {
  display: inline-block;
  height: 30px;
  font-size: var(--fs2);
  margin-bottom: 0.5rem;
}
.random_btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  font-size: var(--fs2);
  font-family: "GangwonEdu_OTFBoldA";
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  padding: 0.75em 1.75em;
  background: var(--light-pink);
  border: 3px solid var(--pink-border);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: 150ms cubic-bezier(0, 0, 0.58, 1);
  /* background 150ms cubic-bezier(0, 0, 0.58, 1); */
}
.random_btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-pink);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.625em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.75em, -1em);
  transition: 150ms cubic-bezier(0, 0, 0.58, 1);
  /* box-shadow 150ms cubic-bezier(0, 0, 0.58, 1); */
}
.random_btn:hover {
  background: var(--pink);
  transform: translate(0, 0.25em);
}
.random_btn:hover::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.5em, -1em);
  /* height: 90%; */
}
.random_btn:active {
  background: var(--pink);
  transform: translate(0em, 0.75em);
}
.random_btn:active::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
  transform: translate3d(0, 0, -1em);
}

/* 반응형 */

@media (max-width: 1200px) {
  .title_detail {
    margin: 0 1rem;
  }
  .list_sec {
    margin-top: 60px;
  }
}

@media (max-width: 1050px) {
  .hd {
    flex-direction: column;
  }
  .logo_img {
    order: 2;
    margin-bottom: 2rem;
  }
  .title_box {
    order: 1;
    margin-bottom: 2rem;
  }
  .icons {
    order: 3;
    justify-content: center;
  }

  .category_con {
    padding: 20px 30px;
  }
  .list_detail_con {
    padding: 2rem 0;
  }
  .detail_modal_box {
    width: 90%;
  }
}

@media (max-width: 760px) {
  .mw3,
  .mw2,
  .mw1 {
    width: calc(100% - 2rem);
  }
  .clip1_img {
    width: 100px;
    top: -40px;
  }
  .hd {
    padding-top: 50px;
  }
  .logo_img {
    margin-bottom: 1rem;
  }
  .title_box {
    margin-bottom: 1rem;
  }
  .title_detail span:nth-of-type(1) {
    font-size: 3rem;
  }
  .title_detail span:nth-of-type(2) {
    font-size: var(--fs3);
  }
  .fork_img {
    width: 15px;
  }
  .spoon_knife_img {
    width: 32px;
  }
  .category_con {
    /* padding: 20px 30px; */
    padding: 0.75rem;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
  }
  .ct_btn {
    /* margin: 0.25rem 0.5rem; */
    /* padding: 0.25rem 1.25rem 0; */
    padding: 0.25rem 1.25rem 0;
    /* font-size: var(--fs2); */
    font-size: var(--fs2);
    margin: 0.25rem;
  }
  /* .list_detail_con {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
  } */
  .detail_modal_box {
    padding: 50px;
  }
  .random_modal_box {
    width: 70%;
    padding: 50px;
  }
  .random_img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 600px) {
  body {
    padding-top: 40px;
  }
  .title_detail span:nth-of-type(1) {
    font-size: var(--fs4);
  }
  .title_detail span:nth-of-type(2) {
    font-size: var(--fs2);
  }
  .fork_img {
    width: 10px;
  }
  .spoon_knife_img {
    width: 24px;
  }
  .list_sec {
    margin-top: 30px;
  }
  .ct_btn {
    font-size: var(--fs1);
  }
  .list_detail_con {
    padding: 1rem 0;
    gap: 1rem;
  }
  .add_button {
    margin: 30px auto;
  }
}
@media (max-width: 520px) {
  .clip1_img {
    width: 80px;
    top: -32px;
  }
  .modal_top {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .text_box {
    width: 100%;
  }
  .comment_box {
    width: 100%;
  }
  .detail_modal_box {
    padding: 40px;
  }
  .button_con {
    flex-wrap: wrap;
  }
  .delete_btn .delete,
  .edit_button {
    width: 80px;
    height: 25px;
    font-size: var(--fs1);
    margin-bottom: 0.25rem;
  }
  .detail_close {
    width: 50px;
    height: 25px;
    font-size: var(--fs1);
    margin-bottom: 0.25rem;
  }
}

@media (max-width: 400px) {
  .title_detail span:nth-of-type(1) {
    font-size: var(--fs3);
    text-align: center;
  }
  .title_detail span:nth-of-type(2) {
    font-size: var(--fs1);
  }
  .fork_img {
    width: 8px;
  }
  .spoon_knife_img {
    width: 18px;
  }
}
